@model ShopQueryModel

<div class="col-lg-3 col-md-3 sidebar__border">
    <form method="get" id="sidebar_form">
        <div class="shop__sidebar">
            <div class="sidebar__categories">
                <div class="section-title">
                    <h4>Categories</h4>
                </div>
                <div class="categories__accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-heading active">
                                <a data-toggle="collapse" data-target="#collapseOne">Women</a>
                            </div>
                            <div id="collapseOne" class="collapse @(ViewData["Title"] == "Women's Clothes" ? "show" : string.Empty)" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><a asp-controller="Shop" asp-action="Womens" asp-route-Category="T-Shirts">T-Shirts</a></li>
                                        <li><a asp-controller="Shop" asp-action="Womens" asp-route-Category="Jeans">Jeans</a></li>
                                        <li><a asp-controller="Shop" asp-action="Womens" asp-route-Category="Pants">Pants</a></li>
                                        <li><a asp-controller="Shop" asp-action="Womens" asp-route-Category="Sweatshirts">Sweatshirts</a></li>
                                        <li><a asp-controller="Shop" asp-action="Womens" asp-route-Category="Jackets">Jackets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseTwo">Men</a>
                            </div>
                            <div id="collapseTwo" class="collapse @(ViewData["Title"] == "Men's Clothes" ? "show" : string.Empty)" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><a asp-controller="Shop" asp-action="Mens" asp-route-Category="T-Shirts">T-Shirts</a></li>
                                        <li><a asp-controller="Shop" asp-action="Mens" asp-route-Category="Jeans">Jeans</a></li>
                                        <li><a asp-controller="Shop" asp-action="Mens" asp-route-Category="Pants">Pants</a></li>
                                        <li><a asp-controller="Shop" asp-action="Mens" asp-route-Category="Sweatshirts">Sweatshirts</a></li>
                                        <li><a asp-controller="Shop" asp-action="Mens" asp-route-Category="Jackets">Jackets</a></li>
                                        <li><a asp-controller="Shop" asp-action="Mens" asp-route-Category="Shirts">Shirts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseThree">Kids</a>
                            </div>
                            <div id="collapseThree" class="collapse @(ViewData["Title"] == "Kid's Clothes" ? "show" : string.Empty)" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><a asp-controller="Shop" asp-action="Kids" asp-route-Category="T-Shirts">T-Shirts</a></li>
                                        <li><a asp-controller="Shop" asp-action="Kids" asp-route-Category="Jeans">Jeans</a></li>
                                        <li><a asp-controller="Shop" asp-action="Kids" asp-route-Category="Pants">Pants</a></li>
                                        <li><a asp-controller="Shop" asp-action="Kids" asp-route-Category="Sweatshirts">Sweatshirts</a></li>
                                        <li><a asp-controller="Shop" asp-action="Kids" asp-route-Category="Jackets">Jackets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseFour">Accessories</a>
                            </div>
                            <div id="collapseFour" class="collapse @(ViewData["Title"] == "Accessories" ? "show" : string.Empty)" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Accessories" asp-route-Category="BagsandBackpacks">Bags and Backpacks</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Accessories" asp-route-Category="Sunglasses">Sunglasses</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Accessories" asp-route-Category="Jewelries">Jewelries</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseFive">Cosmetic</a>
                            </div>
                            <div id="collapseFive" class="collapse @(ViewData["Title"] == "Cosmetics" ? "show" : string.Empty)" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Cosmetics" asp-route-Category="Antiagecosmetic">Antiage cosmetic</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Cosmetics" asp-route-Category="Facecosmetic">Face cosmetic</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Cosmetics" asp-route-Category="SPF">SPF</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__filter">
                <div class="section-title">
                    <h4>Shop by price</h4>
                </div>
                <div class="filter-range-wrap">
                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                         data-min="0" data-max="500"></div>
                    <div class="range-slider">
                        <div class="price-input">
                            <p>Price:</p>
                            <input type="text" id="amount">
                            @*<input type="text" id="minamount">
                            <input type="text" id="maxamount">*@
                        </div>
                    </div>
                </div>
                <a asp-route-Category="@Model.Category" asp-route-MinPriceRange="@Model.MinPriceRange" asp-route-MaxPriceRange="@Model.MaxPriceRange" id="form_submit">Filter</a>
            </div>
            @if (Model.AllSizes != null)
            {
                <div class="sidebar__sizes">
                    <div class="section-title">
                        <h4>Shop by size</h4>
                    </div>
                    <div class="size__list" id="size_list">
                        @foreach (var size in Model.AllSizes)
                        {
                            <label for="@size">
                                @size
                                <input type="checkbox" id="@size">
                                <span class="checkmark"></span>
                            </label>
                        }
                    </div>
                </div>
            }
            @if (Model.AllColors != null)
            {
                <div class="sidebar__color">
                    <div class="section-title">
                        <h4>Shop by color</h4>
                    </div>
                    <div class="size__list color__list" id="color_list">
                        @foreach (var color in Model.AllColors)
                        {
                            <label for="@color">
                                @color
                                <input type="checkbox" id="@color">
                                <span class="checkmark"></span>
                            </label>
                        }
                    </div>
            </div>
            }
        </div>
    </form>
</div>
