@model ShopProductServiceModel

<div class="col-lg-4 col-md-6">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="@Model.ImageUrl">
            <ul class="product__hover">
                <li><a href="@Model.ImageUrl" class="image-popup"><span class="arrow_expand"></span></a></li>
                <li><a href="#"><span class="icon_heart_alt"></span></a></li> <!--TODO-->
                <li><a href="#"><span class="icon_bag_alt"></span></a></li> <!--TODO-->
            </ul>
        </div>
        <div class="product__item__text">
            <h6><a href="#">@Model.Name</a></h6> <!--TODO-->
            <h6><strong>@Model.Brand</strong></h6> <!--TODO-->
            @*<div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>*@
            <br />
            <div class="product__price">@Model.Price</div>
        </div>
    </div>
</div>
